.speakers-container {
    background-color: #113ed0; 
    color: white; 
    padding: 30px; 
    text-align: left;
}

.speakers-content {
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: center; 
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
}

.speakers-content h2 {
    font-size: 40px; 
    color: white;
    margin-bottom: 0.4em;
    font-weight: 500;
}

.speakers-content h2 span {
    color: orange; 
}

.speakers-content p {
    max-width: 720px; 
    line-height: 1.5; 
}

/* media query */
@media (max-width: 650px) {
    .speakers-content{
        max-width: 400px;
    }
    .speakers-content h2{
        font-size: 30px;
    }
    .speakers-content p {
        font-size: 15px;
        max-width: 400px; 
    }
}