.hero {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hrcrunchbg.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center everything */
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Ensure left alignment for the first container */
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; /* Keep everything centered */
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%; /* Left container aligned as is */
    height: 100%; 
}

.hero-text h1 {
    font-size: 95px; 
    font-weight: 900;
}

.hero-text p {
    max-width: 800px;
    margin: 10px 0 20px;
    line-height: 1.4;
    font-size: 19px; 
    font-weight: 00;
}

.event-info {
    margin-bottom: 2em;
}

.event-info span {
    display: block;
    margin: 5px 0;
    font-size: 16px;
    color: #fff;
}

.event-info .icon {
    margin-right: 1em;
    color: orange;
    font-size: 19px;
}

.btn {
    padding: 12px 30px; 
    color: white; 
    cursor: pointer; 
    font-size: 18px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: flex; 
    align-items: center; 
    border: none;
}

.border-button {
    background-color: transparent; 
    border: 1px solid white; 
    color: white; 
    padding: 12px 30px; 
    cursor: pointer;
}

.border-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.countdown-container {
    border: 3px solid white; 
    border-radius: 30px; 
    padding: 40px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 300px; 
    height: 100%; 
    margin-top: 4rem; /* Space added on top */
}

.countdown-container h3 {
    font-size: 24px; 
    margin-bottom: 1em; 
}

.countdown-container h3 span {
    color: orange; 
}

.countdown {
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    margin: 2em 0; 
}

.countdown h1 {
    font-size: 40px; 
    margin: 0; 
    text-align: center; 
}

.countdown span {
    display: block; 
    font-size: 14px; 
    color: #fff; 
    text-align: center; 
}

.ticket-icon {
    width: 20px; 
    height: 20px; 
    margin-left: 10px; 
}

.full-background {
    cursor: pointer;
    background-color: white; 
    color: #000;
}

/* Debugging, Make sure buttons are not being overlaid */
.btn, .border-button {
    z-index: 10; /* Ensure buttons are clickable */
    position: relative;
}

@media (max-width: 850px) {
    .hero-content {
        flex-direction: column; /* Stack containers vertically on smaller screens */
        align-items: center;
    }
    .hero-text {
        max-width: 100%; /* Full width on smaller screens */
    }
    .countdown-container {
        max-width: 100%;
        margin-top: 4rem;
    }
}

@media (max-width: 650px) {
    .hero {
        padding-top: 8em; 
        padding-bottom: 3em;
    }
    .hero-text h1 {
        font-size: 75px;
        max-height: 400px;
        margin: auto;
    }
    .hero-text p {
        font-size: 16px; 
        text-align: center;
        max-width: 100%;
    }
    .event-info {
        margin: 0 auto; 
        text-align: left;
    }
    .btn, .border-button {
        margin: 0 auto;
        margin-top: 1em;
        display: block;
        box-shadow: 3px 3px 0px 0px white; 
        padding: 8px;
    }
}

