.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.about-left {
    flex-basis: 56%;
}

.about-right {
    flex-basis: 40%;
    position: relative; 
}

.about-img {
    width: 100%;
    border-radius: 10px;
}

.ig-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.ig-icon:hover {
    transform: translate(50%, -50%) scale(1.1);
    filter: brightness(1.2); 
    transition: ease-in-out 0.6s;
}

.about h3 {
    font-weight: 700;
    font-size: 60px; 
    color: blue; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    margin-bottom: 10px; 
}

.about p {
    line-height: 1.6; 
    letter-spacing: 0.5px;
    font-size: 16px; 
    max-width: 600px; 
}


