.day-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 6% 20px 20px 20px;
    max-width: 600px; 
    margin: auto; 
    border-radius: 10px; 
}

.event-title {
    font-size: 2em; 
    margin-bottom: 15px;
    color: #113ed0; 
    text-align: center; 
}

.day-switch {
    display: flex; 
    margin-bottom: 20px; 
}

.day-option {
    padding: 10px 30px; 
    cursor: pointer; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    margin: 0 5px;
    font-weight: bold; 
    border: 1px solid rgba(241, 179, 7, 0.9);
    color: #333; 
}

.day-option.active {
    background-color: #113ed0; 
    color: white; 
    border: none;
}

.day-box {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px; 
    width: 100%; 
    margin-top: 20px; 
    border: 3px solid black;
}

.day-header {
    font-size: 1.5em; 
    margin: 10px 0;
    color: #fff;
    text-align: left; 
    border-radius: 5px; 
}
.something{
    background-color: #113ed0;
    padding: 10px;
}
.day-subheader {
    font-size: 1.2em; 
    margin: 10px 0; 
    color: #fff; 
    text-align: left;
    border-radius: 5px;
}

.schedule-list {
    list-style-type: disc; 
    padding-left: 20px; 
    margin: 0; 
    cursor: grab;
}

.schedule-item {
    margin: 5px 0;
    text-align: left;
    padding: 5px; 
    transition: background-color 0.3s ease; 
}

