nav {
    width: 100%;
    height: 80px;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 180px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-weight: 300;
}

.ticket-button {
    background-color: #FFF; 
    color: #000;
    border: none;
    border-radius: 50px;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    font-weight: 400;

}

.ticket-button img {
    width: 20px; 
    height: 20px;
    margin-left: 10px; 
}

.sponsor-button {
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
    border-radius: 50px; 
    padding: 15px 24px; 
    font-size: 16px; 
    cursor: pointer; 
    display: flex; 
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: -1.4em; 
    font-weight: 400;

}

.sponsor-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.dark-nav {
    background-color: #113ed0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

/* Media Query */

@media (max-width: 1000px) {
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 840px) {
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background-color: white;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
    }
    .ticket-button{
        padding: 14px 15px;
        background-color: #113ed0;
        transition: background-color 0.3s ease;
        color: #fff;
    }
    .sponsor-button{
        display: none;
   }
    .ticket-button img{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        background-color: orange; 
        box-shadow: 3px 3px 0px 0px white; 
        padding: 8px;
        margin-left: 10px;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}